@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>


<div class="container-fluid order row">
    <div class="aboutUs">
        <h3>@ViewBag.Message</h3>

        <p class="card-body card-text">
            One of the key characteristics of the agriculture industry today is the level of industrialisation,
            resulting from the demand from consumers for quality, affordability, choice and safety.
            Increased urbanisation and population growth are placing more and more demands on agriculture to provide in the
            nutritional needs of the consumer in a healthy and sustainable manner.
            Agriculture needs to respond to this change in demand patterns by producing sustainable products that are affordable and safe.
            Being part of a value chain creates an enabling environment where an emerging farmer can become part of the main-stream
            agricultural sector and reduce the risk for all parties involved. It creates the opportunity to fund the commercialisation
            of emerging farmers in a sustainable manner.
            <br /><br />
            We plan on supporting The Food and Agriculture Organization (FAO) a specialised agency of the United Nations in their effort to
            defeat hunger. Their goals to achieve food security for all and make sure that people have regular access to enough
            high-quality food to lead active healthy lives. We also help up and coming local farmers in rural areas to be more developed, 
            Our initiative support the farmers from getting exposure by various organisations worldwide. Our platform also allow investors to
            invest local farms and other parties that wish to to help they can also donate funds that will procceeds into growing small local
            farmers.

        </p>
    </div>
    <br />
    <div class="photo">
        <div>
           @* @Video.Flash(path: "media/farmers.MP4",
                 width: "400",
                 height: "600",
                 play: true,
                 loop: true,
                 menu: false,
                 bgColor: "red",
                 quality: "medium",
                 scale: "exactfit",
                 windowMode: "transparent")*@
        </div>
    </div>
</div>
    <p><a class="btn btn-primary" href="https://www.fao.org/about/en/">Learn more &raquo;</a></p>


