
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div class="row">
    <address>
        1126 Park Street<br />
        Hatfields, Pretoria<br />
        Gauteng<br />
        0152
    </address>
    <div>
        <strong>Email:</strong>   <a href="mailto:monoagrics@gmail.com">monoagrics@gmail.com</a><br />
        <strong>Phone:</strong>  <label>(012) 233 0978</label>
    </div>
</div>

