
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>mFAO responses to local farm crisis and food security challanges in rural areas</h2>
    <p>Our platform provide a chance for various stakeholders to engage with SDG goal 2: Zero Hunger and be part community 
    that aim to end world hunger</p>
    <p><a href="https://www.fao.org/countryprofiles/index/en/?iso3=ZAF" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

