@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>mFAO responses to local farm crisis and food security challanges in rural areas</h1>
    <p>
        Our platform provide a chance for various stakeholders to engage with SDG goal 2: Zero Hunger and be part community
        that aim to end world hunger
    </p>
    <p><a href="https://www.fao.org/countryprofiles/index/en/?iso3=ZAF" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Become a Member</h2>
        <p>
            If you are an Individual or small farming organisation and looking forward to learn
            more about the food system from Production to Consumption stage, you can enter your details.
            To also get support for your organisation or as an individual into growing your farming 
            business.
        </p>
        <p><a class="btn btn-success" href="/Home/Donate">apply here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn more about us</h2>
        <p>
            To learn more about our Non-profit Orginisation mFAO and how it is helping support the goal 2 SDG. Also our mission
            to uplift and grow local farming. To also expose local farmers to some E-agriculture and help them practice
            sustainable agriculture and rural development. You can find our contact here too.

<p><a class="btn btn-info" href="/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be Involved</h2>
        <p>
            If you are interest in helping our organisation and supporting Goal 2 of the SDG, you can donate funds that will assist in
            training for members torwads achieving production at lower cost as possible thus having the most food affordable, food availability
            and food security
        </p>
        <p><a class="btn btn-success" href="/Home/Donate.cshtml">Donate &raquo;</a></p>
    </div>
</div>
